<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body class="body-background" background="http://www.markkowalk.com/wp-content/uploads/2012/02/Times-Square.jpg">

	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-6">
			<div class="big-directions">
				<div class="main-directions">
					<h3 class="hint" style="color:white"> <%= @hint %></h3>
					<div class="bar">
					</div>

					<% @directions.each do |turn| %>
					<div class="turn-directions">
						<ul class="list-group">
						<li class="list-group-item"> <%= turn["html_instructions"].html_safe %>. &nbsp &nbsp<%= turn["distance"]["text"] %>, <%= turn["duration"]["text"] %></li>
						<!-- <p> <%= turn["distance"]["text"] %>, <%= turn["duration"]["text"] %> </p> -->
						</ul>
					</div>
					<% end %>
					<div>
						<h3 style="text-align:center">GRAB A UBER!</h3>
						 <a href=<%=@url%>><button><img src="<%= asset_path( 'uber.png' ) %>" class="img-responsive"/></button></a>
					</div>
	
			</div>
		</div>
	</div>

</body>
</html>



