<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body class="body-background" background="http://www.markkowalk.com/wp-content/uploads/2012/02/Times-Square.jpg">

	<div class="row">

		<div class="col-md-3" id="left-bar">
			<h3>Welcome, <%= @current_user.name %>! </h3>
			<ul>
				<p><%= link_to "Past Adventures", user_prev_adventures_path(@current_user) %></p>
				<p><%= link_to "Edit Profile", edit_user_path(@current_user) %></p>
			</ul>
			<div class="bar">
			</div>
			<h3>Today's Forecast</h3>
			<h3><img src="<%=@icon%>">&nbsp <%= @current_forecast %> </h3>
		</div>


		<div class="col-md-6">
			<div class="big-form">
				<div class="main">
					<h2 class="h2head">Adventure Criteria</h2>
					<div class="bar">
					</div>
					<%= form_tag %>
					<div class="form-group">
						<p>Budget</p>
						<p>(USD)</p>
						<%= text_field_tag :amount_spend, "", class: "form-control" %>
					</div>
					<div class="form-group">
						Amount of People
						<%= text_field_tag :amount_people, "", class: "form-control" %>
					</div>
					<div class="form-group">
						<p>Time Avaliable</p>
						<p>(Minutes)</p>
						<%= text_field_tag :amount_time, "", class: "form-control" %>
					</div>
					<div class="form-group">
						Transportation
						<%= select_tag :mode_of_travel, options_for_select([ 'Walking', 'Bicycling', 'Transit', 'Driving' ], 'Walking'), class: "form-control" %>
					</div>
						<%= submit_tag "submit", class: "btn btn-default"%>
				</div>
			</div>
		</div>

		<div class="col-md-3" id="right-bar">
		</div>
		
	</div>

</body>
</html>